<h1>About</h1><!--StaticPages#about-->
<p>Hello Bikes was founded in 2017 by fun loving biking girls in New Jersey.<br> We promise you fun times with Hello Bikes!</p>
<%= image_tag("",class:"img-responsive myImage",:align=>"middle") %>