<!--#StaticPages#index-->
<div class="Santa Cruz">
  <div class="col-xs-2">
    <h1>Ready to Roll</h1>
    <p>Save 40% or more on select accessories</p>
    <button type="button" class="btn btn-default" data-placement="Right" title="Tooltip on top">
      <%= link_to "Shop Now", products_path %>
    </button>
  </div><!--end of col-xs-2-->
</div><!--end of santa cruz-->

<%= image_tag("racing-bicycle.png", class:"img-responsive myImage") %>
