<div class="Hello"><p id="stayleft">Welcome! The date and time is <%= Time.now %></p>
</div><!--#StaticPages#index-->
<h1>Welcome to Hello Bikes </h1>
<h2>Your source for used bikes in Berlin</h2>
<%= image_tag("kidsbike.jpg",class:"img-responsive myImage",:align=>"middle") %>