
<h1>Login</h1>

    <div class="form-group" id="login">
      <p> Don't have an account. Create one now.<a href="">Sign up below</a></p>

        <label class="col-xs-6" for="name">Username</label>
          <input class="form-control" type="alphanumeric" maxlength="35" id="name" placeholder="Username">

        <label class="col-xs-6" for="name">Email</label>
          <input class="form-control" type="alphanumeric" maxlength="35" id="name" placeholder="Username">

        <label class="col-xs-6" for="name">Password</label>
          <input class="form-control" type="alphanumeric" maxlength="8" id="name" placeholder="password">

        <button type="submit" class="btn btn-default" id="submit">Submit</button>

        <div>
                <p>Already a member.<a href="#login"> Sign in here</a></p>
            </div>
    </div><!--end of form group-->