.products{
    margin:auto;
    color:black;
}
 .Records{
    text-align:center;
    color:black;
 }

 .col-md-6{
    width:40%;
    height:40%;
 }
// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
