body {
  background-color: #FFF;
  margin: 15px;
  color: #000;
}

nav {
  background-color: #000;
  text-align: center;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  color: #FFF;
  border: 1px solid #000;
}


li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  top: 15px;
}

.email {
  text-align: left;
  font-size: 16px;
}

h1 {
  font-family: "Ariel", sans-serif;
  color: #b30000;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

.hello {
  display: inline-block;
  text-align: left;
}

.welcome {
  margin-top: 15px;
  text-align: center;
  display: inline-block;
  width: 100%;
}

h2, p {
  color: #000;
  text-align: center;
  margin-top: 15px;
}

#login { width: 400px; }

#stayleft {
  float: left;
  margin-top: 0;
  display: inline-block;
}

footer {
  background-color: #000;
  height: 40px;
  text-align: center;
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  color: #FFF;
  border: 1px solid #000;
}

h5 { text-align: center; }

.img-responsive {
  align: middle;
  width: 100%;
  margin: auto;
}

.form-group {
  text-align: left;
  font-size: 16px;
  float: left;
}

.myImage{ width: 80%; }
