body{
    background-color:black;
}
nav{
    background-color: #ffcccc;
    text-align:center;
    height:50px;
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    color:brown black;
    border:1px solid black;
}

li{
    display: inline-block;
    padding:10px;
    font-size:20px;
    font-weight:bold;
    top:15px;

}

h1{
    font-family:Ariel;
    color:#b30000;
    text-align:center;
    margin-top:50px;
    width:100%;

}
.hello{
    display:inline-block;
}
.welcome{
    margin-top:15px;
    text-align:center;
    display:inline-block;
    width:100%;
}
h2, p{
    color:white;
    text-align:center;
    margin-top:15px;
}

#stayleft{
    float:left;
    margin-top:0px;
    display:inline-block;
}

footer{
    background-color:#ffcccc;
    height:40px;
    text-align:center;
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    color:brown black;
    border:1px solid black;
}

.img-responsive{
    align:middle;
    width:80%;
    margin:auto;
}



// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
