<div class="product-reviews">
    <% @comments.each do |comment| %>
      <div class="row">
        <p>
          <%= render partial: "comments/comment", locals: {comment: comment} %>
        </p>
      </div>
    <% end %>
</div>
